<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuO6-trb2Fs4ojj_B_WzEOkXuZPzUZ930</string>
	<key>GCM_SENDER_ID</key>
	<string>523284382246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sanberappflutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tugas13-c75c3</string>
	<key>STORAGE_BUCKET</key>
	<string>tugas13-c75c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523284382246:ios:5216ae88a40f88708c5ce7</string>
</dict>
</plist>